@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --Bg : #F9F9F9;
    --lightYellow : #F7FFC6;
    --Yellow : #F7FB1D;
    --Hover: #a3a513;
    --none : rgba(255, 0, 0, 0);
    --lb : #eaf2ff;
    --db : #96beff
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--Bg);
    overflow-x: hidden;
    height: fit-content;
}


#sec1{
    height: fit-content;
    min-height: 100vh;
}
.navbar{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
/* border: 2px solid red; */
background-color:var(--lightYellow);
height: 75px;
padding: 15px 35px;
transition: height 0.9s ease;
}
#logo{
    font-size: 25px;
    margin: 0px 60px;
}
#navLinks{
    flex: .60;
}
#menubtn{
    visibility: hidden;
}
#navLinks{
    background-color:var(--lightYellow);
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}
.navContents{
    background-color: var(--lightYellow);
}
.navContents>a , #logo, #logo>h3{
    background-color:var(--lightYellow);
}
a{
    text-decoration: none;
    color: black;
}#sec1-content{
    height: 90vh;
    width: 100vw;
    background-image: url("/imgs/MainBg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
    /* filter: blur(3px); */
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContent>h2 , #mainContent{
    background-color: rgba(212, 212, 212, 0);
    color: White;
}
#mainContent{
    background-color: rgba(212, 212, 212, 0.518);
    height: fit-content;
    width:1440px;
    max-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 15vh 15vw;
    text-align: center;
}
#menu{
    height: 25px;
    width: 25px;
}

#mainContent>h2{
    color: var(--Yellow);
    margin: 7px 10px;
    }
#mainContent>p{
    color: rgb(255, 255, 255);
    background: #00000000;
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#menubtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    overflow: hidden;
}
#menuContent{
    height: fit-content;
}
#menuContent>h2{
    min-width: fit-content;
}

@media only screen and (min-width: 999px) and (max-width: 1300px) {
    #navLinks {
      flex:.9; /* Decrease the flex value to decrease the gap */
    }
  }
  
  @media only screen and (min-width: 800px) and (max-width: 1000px) {
    #navLinks {
      flex: 1.3; /* Decrease the flex value to decrease the gap */
    }
}
  @media only screen and (min-width: 300px) and (max-width: 799px) {
    #navLinks {
      flex: 1.3; /* Decrease the flex value to decrease the gap */
    }
    .navbar {
        display: flex;
        height: fit-content;
        flex-direction: column;
        height: 75px;
        overflow: hidden;
        transition: height 0.9s ease;
    }
    #navLinks{
        flex-direction: column;
    }
    #menubtn{
        visibility: visible;
    }
    #logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
    }
  }


.btn-container{
  display: flex;
  flex-direction: row;
  margin: 15px 9px;
  background-color: var(--none);
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: fit-content;
    padding: 6px 9px;
    margin: 5px 10px;
    border-radius: 25px;
}
.btn1{
    background-color: var(--Yellow);
    border: none;
    
}
.btn:hover{
    cursor:pointer;
}
.btn1:hover{
    background-color: var(--Hover);
    cursor:grab;
}
.btn2{
    background-color: var(--none);
    color: var(--Yellow);
    border: 2px solid var(--Yellow);
}
.btn2:hover{
color: var(--Hover);
border-color: var(--Hover);
}
#sec2{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
 background-color: var(--lightYellow);
 background-image: url(./imgs/sec2bg.png);
 background-repeat: no-repeat;
 background-position: bottom;
 background-size: cover;
}
#sec21{
    background-color: white;
    border-radius: 22px;
    padding:6px 9px;
}
#sec22,.indiv{
    display: flex;
    flex: row;

}
.indiv, #sec22,#sec21>h2{
    background-color: var(--none);
}
.cards{
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    margin: 15px 33px;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 26px;
}
.indiv{
    box-sizing: content-box;
    height: fit-content;
    min-height: 650px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cards>p{
    text-align: center;
}
.cards>h3{
    margin-bottom: 10px;
}
.cards>.btn{
    background-color: var(--db);
}
#sec22{
    height: fit-content;
}
.card-dislocated{
    position: relative;
    top: 100px;
}
.cards, .cards>h3 , .cards>p{
    background-color: var(--lb);
}
@media only screen and (min-width: 200px) and (max-width: 700px) {
#sec2{
    background-image: url(./imgs/sec2bg_mobile.png);
}
#sec22{
    flex-direction: column;
}
.cards>h3{
    font-size: 20px;
}
.cards>p,.cards>button{
    font-size: 7px;

}
.indiv{
    display: flex;
    justify-content: flex-start;
    min-height: 480px;
    align-items: flex-start;
}
.cards{
    max-width: 230px;
    background-position: center;
}
}